.about {
  padding: 5rem 0;
  display: flex;
  justify-content: center;

  &__me--container {
    max-width: 800px;
    width: 100%;
    margin: 0 2rem;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-align: center;
    transition: all 0.3s ease;
  }

  h2:hover {
    color: #FF8C00;
    transform: scale(1.05);
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: justify;
  }
}
