/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* Base styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; /* 16px */
}

/* Media queries */
@media screen and (max-width: 599px) {
  /* Small screens */
  body {
    font-size: 1.2rem; /* 12px */
    background-color: blue;
  }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
  /* Mobile and tablet styles */
  body {
    font-size: 1.4rem; /* 14px */
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* Medium desktop styles */
  body {
    font-size: 1.8rem; /* 18px */
  }
}

@media screen and (min-width: 1200px) {
  /* Large desktop styles */
  body {
    font-size: 2rem; /* 20px */
  }
}
