/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* Base styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; /* 16px */
  overflow-x: hidden;
}

section:nth-of-type(2n - 1){
  background-color: rgba(211, 211, 211, 0.495);
}
/* Media queries */
@media screen and (max-width: 599px) {
  /* Small screens */
  body {
    font-size: 1.2rem; /* 12px */
  }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
  /* Mobile and tablet styles */
  body {
    font-size: 1.4rem; /* 14px */
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* Medium desktop styles */
  body {
    font-size: 1.8rem; /* 18px */
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  /* Large desktop styles */
  html {
    font-size: 80%; /* 1rem = 8px */
  }
  body {
    font-size: 2rem; /* 20px */
  }
}

@media screen and (min-width: 1600px) {
  /* Extra large desktop styles */
  html {
    font-size: 100%; /* 1rem = 10px */
  }
  body {
    font-size: 2.2rem; /* 22px */
  }
}
