.contact__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  form {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    input,
    textarea {
      padding: 1rem;
      font-size: 1rem;
      border-radius: 10px;
      border: none;
      margin-bottom: 1rem;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }

    textarea {
      resize: none;
      height: 150px;
    }

    button[type='submit'] {
      background-color: #4caf50;
      color: #fff;
      font-size: 1rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: #3e8e41;
      }
    }
  }
}
