.contact-form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;

    &:focus {
      outline: none;
      border-color: #0077cc;
      box-shadow: 0 0 5px #0077cc;
    }
  }

  button[type='submit'] {
    background-color: #0077cc;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #005ea8;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px #0077cc;
    }
  }
}
