.header {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9fafb;
  color: #2d3748;

  &__left {
    
    h1 {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1rem;

      span {
        position: relative;
        display: block;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 3.125rem;
          height: 0.25rem;
          background-color: #2d3748;
        }
      }
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 3rem;
    }

    #typewriter {
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
    }
  }
}
