.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d1321;
  color: #fff;
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 1.5rem 0;
    
    span {
      display: block;
      position: relative;
      
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 3px;
        background-color: #fff;
      }
    }
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0 0 3rem 0;
  }
  
  #typewriter {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-right: 0.1em solid #ffffff;
    padding-right: 0.5rem;
  }
}
