.header {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  color: #2d3748;
  position: relative;
  z-index: 10;

  &__left {
    text-align: center;
    margin-bottom: 3rem;

    h1 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 3rem;
    }

    #typewriter {
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 5rem;

    &__left {
      margin-bottom: 0;

      h1 {
        text-align: left;
      }

      h3 {
        text-align: left;
      }

      #typewriter {
        text-align: left;
      }
    }

    &__right {
      flex: 0 1 auto;
    }
  }
}
