.header {
  display: flex;
  padding: 2rem 5rem;
  
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  color: #2d3748;
  position: relative;
  z-index: 10;
  flex: 1 1 auto;


  img{
    display: block;
  
  }

  &__left {
    h1 {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1rem;

      span {
        display: inline-block;
     
        &.animate__bounce:hover {
          animation-name: jelly;
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-iteration-count: infinite;
        }
      }
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 3rem;
    }

    #typewriter {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
    }
  }

  &__right{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 5rem;

    &__left {
      margin-bottom: 0;

      h1 {
        text-align: left;
      }

      h3 {
        text-align: left;
      }

      #typewriter {
        text-align: left;
      }
    }

    &__right {
      transform: scale(0.1);
      // display: non;
    }
  }
}


@keyframes jelly {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}