.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #fff;
  position: relative;

  &__left {
    display: flex;
    align-items: center;

    a {
      color: #333;
      margin-right: 2rem;
      font-size: 2rem;

      &:hover {
        color: #666;
      }
    }
  }

  &__right {
    display: block;

    li {
      display: inline-block;

      a {
        color: #333;
        text-decoration: none;
        padding: 0 1rem;
        font-size: 1.6rem;

        &:hover {
          color: #666;
        }
      }
    }

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-direction: column;

      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      background-color: #fff;
      z-index: 99;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      li {
        display: block;
        text-align: center;
        margin-top: 4rem;

        a{
          font-size: 3rem;
        }
        
      }

      &.active {
        transform: translateX(0);
      }
    }
  }

  &-button{
    display: none;
  }

  @media screen and (max-width: 768px) {
    &__left {
      margin-right: auto;
    }

    &__right {
      display: none;
    }

    &-button{
      position: absolute;

      display: block;
      width: 20px;
      height: 20px;

      right: 2rem;
      top: 3rem;
      z-index: 100;

      cursor: pointer;

    }
  }

  .burger {
    display: block;
    font-size: 3rem;
    color: #333;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #666;
    }

    span {
      display: block;
      height: 2px;
      width: 2.5rem;
      background-color: #333;
      margin: 0.5rem 0;
      transition: transform 0.3s ease-in-out;

      &:nth-of-type(2) {
        width: 2rem;
      }
    }

    &.active {
      span {
        &:first-of-type {
          transform: rotate(45deg) translate(0.5rem, 0.6rem);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          transform: rotate(-45deg) translate(0.5rem, -0.6rem);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__right {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 70%;
      background-color: #fff;
      z-index: 99;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      li {
        display: block;
        text-align: center;
        margin-top: 2rem;
      }

      &.active {
        transform: translateX(0);
      }
    }
  }
}
