.projects {
  padding: 5rem 0;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .project {
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-bottom: 1.5rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
        text-align: justify;
      }

      a {
        font-size: 1.2rem;
        background-color: #0077b6;
        color: #fff;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #023e8a;
        }
      }
    }
  }
}
