.skills {
  background-color: #f9f9f9;
  padding: 4rem 0;

  &__header {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skill {
    width: 250px;
    margin: 1.5rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    &__name {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      padding: 1rem;
      background-color: #4caf50;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &__bar {
      height: 30px;
      border-radius: 5px;
      background-color: #f2f2f2;
      overflow: hidden;
      position: relative;
    }

    &__fill {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #4caf50;
      width: 0;
      transition: width 1s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        color: #fff;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      }
    }

    &__percent {
      font-size: 1.2rem;
      color: #fff;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }
  }

  // Set the width of the fill bar based on the percentage
  .skill:nth-child(1) .skill__fill {
    width: 90%;
    &::before {
      content: "90%";
    }
  }

  .skill:nth-child(2) .skill__fill {
    width: 85%;
    &::before {
      content: "85%";
    }
  }

  .skill:nth-child(3) .skill__fill {
    width: 80%;
    &::before {
      content: "80%";
    }
  }

  .skill:nth-child(4) .skill__fill {
    width: 70%;
    &::before {
      content: "70%";
    }
  }

  .skill:nth-child(5) .skill__fill {
    width: 75%;
    &::before {
      content: "75%";
    }
  }

  .skill:nth-child(6) .skill__fill {
    width: 80%;
    &::before {
      content: "80%";
    }
  }

  .skill:nth-child(7) .skill__fill {
    width: 60%;
    &::before {
      content: "60%";
    }
  }
}
