.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  button {
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
