.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form__container {
  max-width: 600px;
  width: 100%;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form__header {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.status-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  & .show {
    visibility: visible;
    opacity: 1;
  }

  & .progress {
    background-color: #ffc107;
    color: #333;
  }

  & .error {
    background-color: #dc3545;
    color: #fff;
  }

  button.close-button {
    background-color: transparent;
    color: #fff;
    border: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
  }
}

.form-input-container {
  position: relative;
  margin-bottom: 2.5rem;

  label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease;
    position: absolute;
    top: 1rem;
    left: 1rem;
    pointer-events: none;
  }

  input,
  textarea {
    width: 100%;
    padding: 1.22rem;
    font-size: 1.15rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
  }

  input:focus,
  input:valid,
  input:invalid:not(.empty),
  textarea:focus,
  textarea:valid, 
  textarea:invalid:not(.empty) {
    outline: none;

    & ~ label {
      transform: translate(0, -1.5rem);
      font-size: 1.25rem;
      background-color: white;
    }
  }

  input:valid,
  textarea:valid {
    border-color: #28a745;

    & ~ label {
      color: #28a745;
    }
  }

   input:invalid.blur:not(.empty),
   textarea:invalid.blur:not(.empty) {
    border-color: #dc3545;

    & ~ label {
      color: #dc3545;
    }
  }
}

textarea {
  resize: none;
  height: 150px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #3e8e41;
  }
}
