.navigation {
  display: flex;
  justify-content: flex-end;
  
  ul {
    display: flex;
    list-style: none;
    
    li {
      margin-left: 1rem;
      
      a {
        display: block;
        padding: 1rem;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        
        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
}
